{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "UI",
        "style": true
      }
    ],
    "syntax-dynamic-import"
  ]
}
