{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    "lodash"
  ],
  "env": {
    "development": {
      "plugins": ["react-refresh/babel"]
    }
  }
}
