{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "document": true,
    "navigator": true,
    "window": true,
    "node": true
  },
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "indent": ["error", 2],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "import/prefer-default-export": "off",
    "import/no-webpack-loader-syntax": "off",
    "consistent-return": "off",
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 1
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["a"]
      }
    ],
    "react/forbid-prop-types": "off",
    "class-methods-use-this": "off",
    "function-paren-newline": ["error", "consistent"],
    "lines-between-class-members": ["error", "always"],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": ["const", "let", "var", "block-like"],
        "next": "*"
      },
      {
        "blankLine": "never",
        "prev": ["const", "let"],
        "next": ["const", "let"]
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "eol-last": ["error", "never"]
  },
  "react/jsx-uses-react": "off",
  "react/react-in-jsx-scope": "off"
}
