.logo {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  color: #fff;
  height: 32px;
  line-height: 32px;
  margin: 16px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  background: #f0f0f0;
  overflow: auto;
  padding: 30px;
}
